body {
    color: black;
}

a {
    color: #f09f00
}

a:visited {
    color: #ff7417
}

h3,
h3.archive__subtitle {
    clear: both;
    color: #000000;
    font-family: "Waiting for the Sunrise";
    font-size: 1.35em;
}



h1 {
    color: #008080;
    font-family: "Rubik";
    font-weight: 700;
}

h2 {
    color: #27445c;
    font-family: "Rubik";
    font-weight: 700;
}


p,
.sidebar p,
.archive__item-title,
a,
body {
    font-family: "Work Sans";
}

#main {
    position: relative;
}